# Choose provider
MODEL_PROVIDER=ollama

# Prompts (Ignore)
LLM_MODEL=openai/gpt-oss-120b

# ollama
MODEL_ID=qwen2.5:3b
OLLAMA_HOST=http://localhost:11434

# sigv4
AI_ROLE_ARN=arn:aws:iam::823613469513:role/R-CSSP-AICOEMVP-AIPlatform-Tenant-KYC-Role
AI_EXTERNAL_ID=ai-pathfinder-kyc-test
AI_INVOKE_URL=https://<api-id>.execute-api.eu-west-1.amazonaws.com/v1/invoke